.header__container {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	padding: 2rem 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 24px rgb(179, 198, 228);
}

.header__logo {
	display: flex;
	align-items: center;
}

.header__logo h1 {
	margin: 0;
}

.header__nav button {
	margin: 0 0.5rem !important;
}
